[2012-10-10 18:04] tnightingale opened #2 "Licensing"
I'd like to bundle this as a dependency for a Leaflet plugin that I am developing. Have you considered any particular open source license?

[2012-10-17 16:32] #2 closed, assigned to nobody

[2013-02-04 20:14] atogle opened #7 "deconstruct method is not implemented for the Leaflet"
As such, the `fromObject` function breaks for Leaflet.

[2013-02-09 15:13] arthur-e opened #8 "Mulipolygon with single ring won't render in demo"
It seems like wicket (at least the demo) hates wkt that's a single-loop multipolygon:

MULTIPOLYGON (((30.986898442269066 70.28585936935058, 30.989558933833557 70.28843123397311, 31.004516080503592 70.28678730243136, 31.00362864051688 70.28593009131207, 31.00612119310801 70.28565600571979, 31.005233743671045 70.28479880314164, 31.007726145933614 70.28452469857963, 31.0059513071118 70.2828103068090

[2013-02-16 20:58] arthur-e opened #9 "Closed paths do not need duplicate vertex in Leaflet"
From the Leaflet documentation: "Note that points you pass when creating a polygon shouldn't have an additional last point equal to the first one — it's better to filter out such points," (http://leafletjs.com/reference.html#polygon).

These are not being filtered out and, as a result, closed paths (Polygons and MultiPolygons) have one vertex that, when edited (moved), creates a new, adjoining pol

[2013-02-16 22:01] #7 closed, assigned to arthur-e

[2013-02-17 15:16] arthur-e opened #10 "Missing multipolygon deconstruction support in Leaflet extension"

[2013-02-17 19:56] arthur-e opened #11 "Change Leaflet class instantiation to use lower-case names so that "new" operator not needed"
Tom started doing this in the Leaflet extension; this should be done throughout (that is, for the parts I added).

[2013-02-17 20:19] arthur-e opened #12 "Serialize and de-serialize for WKT (extract and ingest methods) missing for GEOMETRYCOLLECTION"
These need to be added to the "extract" and "ingest" objects in wicket.js (wicket.src.js).

[2013-02-17 20:27] #11 closed, assigned to nobody

[2013-02-17 23:37] #9 closed, assigned to nobody

[2013-02-17 23:37] #10 closed, assigned to nobody

[2013-02-17 23:44] arthur-e opened #13 "Refactor Leaflet extension to use switch...case in the deconstruct method"

[2013-02-17 23:45] arthur-e opened #14 "Refactor Google Maps extension's deconstruct method to abandon feature detection"
Instead of feature detection, a given object should be compared to the available constructors for that framework.

[2013-02-18 00:01] arthur-e opened #15 "Leaflet extension (in runTests()) fails for multilinestring2 and both multipoint examples"

[2013-02-18 00:21] arthur-e opened #16 "Google Maps extension (in runTests()) fails for multipolygon examples"

[2013-02-18 00:25] #14 closed, assigned to nobody

[2013-02-25 23:20] #15 closed, assigned to nobody

[2013-03-06 16:16] arthur-e opened #17 ""Fork me on GitHub" banner in Leaflet Sandbox not a link"
Probably forgot to wrap it in an anchor tag.

[2013-03-06 16:31] #17 closed, assigned to arthur-e

[2013-03-09 21:02] #8 closed, assigned to nobody

[2013-03-09 21:21] #13 closed, assigned to arthur-e

[2013-03-09 23:32] arthur-e opened #18 "Update Leaflet sandbox to use latest leaflet-providers"
Apparently the library changed again; it also moved:
git://github.com/leaflet-extras/leaflet-providers.git

[2013-03-12 23:08] arthur-e opened #19 "Refactor wicket.src.js so that methods of Wkt.Wkt() instances are shared"
I should have done this in the first place--extend the Wkt.Wkt.prototype when adding the methods of Wkt.Wkt() instances so that they are shared by every instance.

[code]

[2013-03-16 18:34] #18 closed, assigned to nobody

[2013-03-16 18:59] arthur-e opened #20 "Standardize the way in which Wicket write WKT vertices"
Currently, Wicket writes WKT strings two different ways, depending on the geometry type. Both are valid, but Wicket ought to do it just one way for consistency. As stated before, I'd like to expose a configuration parameter that allows users to tell Wicket to write WKT strings the other way (consistently). Here is an example of two ways of writing the same string, both valid:

LINESTRING(30 10,10

[2013-03-24 19:27] #20 closed, assigned to arthur-e

[2013-05-08 15:49] jdduarte opened #22 "Parsing POLYGONS with extra parentheses around parts doesn't work"
Consider this POLYGON:
POLYGON(((-15 53),(16 53),(16 36),(-15 36),(-15 53)))

It was generated with the default (and only I guess) mode: extra parentheses around parts. If you try to parse it on any of the sandboxes, it doesn't work.

Whereas it works when you remove the parentheses:
POLYGON((-15 53,16 53,16 36,-15 36,-15 53))

[2013-05-10 00:23] #22 closed, assigned to arthur-e

[2013-05-10 00:30] arthur-e opened #23 "Wicket writes non-standard POLYGON strings in the Google Maps extension"
I have confirmed that the Google Maps API exhibits bad behavior, as originally reported by issue #22.

The following is one example of a bad WKT string; it can't be drawn in the sandbox (on Chromium in Linux I get a weird error with the Maps API):

[code]

This string can be drawn:

[code]

So far, this behavior is fine. The problem is that the Maps API sandbox, when the correct string is modified

[2013-05-10 01:08] #23 closed, assigned to arthur-e

[2013-05-11 18:48] #19 closed, assigned to arthur-e

[2013-08-13 01:52] arthur-e opened #24 "De-serialization of POINT strings fails when coordinates are single-digit integers"
Discovered and addressed in v0.12.

[2013-08-13 01:52] #24 closed, assigned to arthur-e

[2013-08-13 21:48] #16 closed, assigned to nobody

[2013-08-15 20:58] arthur-e opened #25 "Add toString() method for Wkt.Wkt() instances"
This should return the same thing as write().

[2013-09-09 11:46] arthur-e opened #27 "Add support for TWKB?"
https://github.com/nicklasaven/twkb_web/blob/master/webclient/twkb2geojson.js

[2013-11-12 21:29] arthur-e opened #29 "Add serialization/de-serialization for GeoJSON?"
I suppose the internal representation should have been GeoJSON, though it can be verbose. It's very similar to GeoJSON, however, and it shouldn't be difficult to serialize the internal representation to JSON.

[2013-11-12 21:30] arthur-e opened #30 "Fully-implement Node.js module pattern"
I've gone halfway with package.json; time to pick a build library (e.g. uglify) and get rid of the minned JavaScript files.

http://dailyjs.com/2010/10/18/modules/

[2013-11-18 21:47] arthur-e opened #31 "Google Maps API extension can return Rectangle instance instead of Polygon instance"
Feature request from a user: "Exploring the code, I fond this boolean flag called 'isRectangle'  and then a comment saying that 'rectangles are not supported yet'.    Is this still the case?  Is there any way of achieving this that I am not seeing?  If not available... do you plan to add support to it in the near future?"

This is easy enough to implement; just need to [return a Rectangle instance

[2013-11-21 03:05] #31 closed, assigned to nobody

[2013-11-21 03:11] #25 closed, assigned to arthur-e

[2014-01-17 06:06] mottey opened #33 "Large shape with a 'donut' cut out areas don't render correctly."
HI!

I've got a WKT for Los Angeles. It's not rendering correctly with Wicket -- there's a shape cut out from the inside, and it's getting rendered.

Here's the (large) [Source WKT](https://gist.github.com/mottey/8469030/raw/e5dbc1840a41e85c943fdeca5a4f7609a2d74320/gistfile1.txt) data.

In this image we can see two areas that should be cut out.. but they are getting rendered.

![pewpew](http://i.i

[2014-01-19 16:52] arthur-e opened #34 "Support older browsers by providing JavaScript 1.6 Array functions"
The `map`, `indexOf`, and `lastIndexOf` `Array` functions are needed by the ESRI ArcGIS JavaScript and Google Maps API extensions. These could be provided by Wicket so as to extend support to older browsers.

[2014-01-19 17:20] #29 closed, assigned to nobody

[2014-02-01 19:08] #34 closed, assigned to nobody

[2014-02-02 19:55] #30 closed, assigned to nobody

[2014-02-12 20:08] arthur-e opened #35 "Rewrite documentation with Docco?"
Check out [Docco](http://jashkenas.github.io/docco/).

[2014-03-10 14:38] arthur-e opened #36 "Add to NPM"
Following Issue #30.

[2014-03-10 14:39] arthur-e opened #37 "Add extension for D3.js SVG path creation from WKT"
e.g. wicket-d3-svg.js.

[2014-04-03 12:38] ffflabs opened #41 "Chainable contructor, read and merge methods"
At this point, Wkt.read() returns Wkt's components, while Wkt's constructor and Wkt.merge() doesn't have a return object.

¿Do you think it would be a sensible to return `this` in all those methods? That would allow to chain methods in the following way:

[code]

While preserving the current functionality, _except_ for those who are now operating on the return value of the read method.

For those

[2014-04-03 23:07] srstsavage opened #42 "Add support for 3D WKT"
Hi, very cool project! The demo page really takes the pain out of generating simple bbox WKT.

It would be nice if 3D WKT geometries were supported. Obviously the Z coordinate doesn't apply to a 2D map, but it would be convenient (and presumably easy) for POINT Z to be interpreted as a 2D POINT, etc. Currently the demo complains if POINT Z geoms are pasted into it.

[2014-04-17 22:51] #41 closed, assigned to nobody

[2014-04-28 16:22] maciekfreak opened #45 "Problems with fromObject() method"
Hi,

I have a problem with fromObject method.

My WKT:

<pre>POLYGON((15.5848687374 53.1204806794,15.5849691018 53.1205107954,15.5852754108 53.1206446442,15.5853709188 53.1206961327,15.5857148196 53.120816812,15.5858446817 53.1208672209,15.5859952282 53.1209139596,15.5864089163 53.1210141294,15.5865033451 53.121048023,15.5865760104 53.1210888249,15.5868271011 53.1213199265,15.587030168 53.12147676

[2014-04-29 23:18] #45 closed, assigned to nobody

[2014-05-14 21:31] arthur-e opened #46 "Add to bower index?"
This was suggested by someone. I don't have enough information at the present time.

[2014-05-17 17:55] #36 closed, assigned to nobody

[2014-06-01 05:35] chrisco484 opened #47 "Unfortunate name clash"
Are you aware that there is already an extremely popular UI framework called Wicket which is nothing like your's but still is in the Web UI space and has been around since 2005ish?

I code in Wicket (original one) all day long and do about 5-10 Wicket searches a day so I hope google is not going to start throwing matches with your product up when I really want the original Wicket.

[2014-06-03 21:13] #47 closed, assigned to nobody

[2014-06-19 23:07] mvhenten opened #48 "how to require('wicket')"
Hi,

Just tried to "require" wicket, node is throwing errors and looking at your code I can see some references to 'this' and 'global' - AFAIK not there in current node.js environment.

Am I missing something?
Thanks,
Matthijs.

[2014-07-01 13:58] ffischer1984 opened #49 "sometimes it doesn't display the geometries at the correct location"
the point "POINT(52.4711978402488 13.5187530488474)" doesn't show at the correct location.

That's your result:
![googlepoint_incorrect](https://cloud.githubusercontent.com/assets/8037710/3443763/d4347650-0126-11e4-852b-8ac5d38fbb5b.png)

in my opion that's the correct result:
![google_maps_correct_location](https://cloud.githubusercontent.com/assets/8037710/3443802/6d3d1302-0127-11e4-9750-29359c3

[2014-07-01 14:22] #49 closed, assigned to nobody

[2014-07-18 13:08] #48 closed, assigned to arthur-e

[2014-09-02 11:54] amenadiel opened #53 "Rename to wicket.js?"
In the light of increased confusion between this project and apache's what do you think about renaming wicket to wicket.js ?

[2014-10-07 07:46] devdattaT opened #55 "Geometries with Spaces are not parsed properly."
When the WKT Text has a space before the first coordinate in the xy pair, then the geometry is not parsed at all.

For example, the following does not work: `POLYGON (( 30 10, 40 40, 20 40, 10 20, 30 10))`

Note the space before the first 30. This is valid WKT, and is parsed correctly by PostGIS as well [OpenLayers ](http://dev.openlayers.org/sandbox/docs/examples/wkt.html)

[2014-10-22 14:05] SmuSmu opened #57 "Example using jQuery Plugin gmap3"
Hi,

can anyone give me a short example how to use wicket with gmap3 jQuery Plugin?

http://gmap3.net/

[2015-02-05 12:39] svycka commented on #46
+1

[2015-02-23 10:43] chk1 opened #63 "Error: this.construct is undefined"
I always get this error message when using the method `toObject()`:

In Firefox: `Error: this.construct is undefined`
In Chrome: `Uncaught TypeError: Cannot read property 'polygon' of undefined`

The line referenced in both cases is `wicket.js` 237 (tried v1.2 and latest):
https://github.com/arthur-e/Wicket/blob/master/wicket.js#L237
` var obj = this.construct[this.type].call(this, config);`

This

[2015-02-23 11:15] chk1 commented on #63
I just found `toJSON()` which works for my purposes

[2015-02-23 12:31] arthur-e commented on #63
From your HTML example, it seems you didn't include `wicket-leaflet. js`, which is required for `Wkt.Wkt` instances to know how to construct Leaflet objects. If you load that file, then `construct()` should work just fine.

[2015-02-23 12:31] #63 closed

[2015-02-24 15:23] 4tapsmobile opened #64 "Wicket generates invalid WKT from Google Maps v3 Polygon with hole"
Initially, we retrieve this from PostGIS:

POLYGON((-87.6031179311616 41.7888101645398,-87.6029387172624 41.7888127767185,-87.6029387172624 41.7888354825745,-87.6027529456616 41.7888384966255,-87.6025688808599 41.7888417116132,-87.6023627175022 41.7888435200437,-87.6022213226765 41.7888454624319,-87.6022205141927 41.7887902048123,-87.602156643976 41.7887896020017,-87.6021579016174 41.7888429172335

[2015-02-24 15:37] arthur-e commented on #64
This might be related to Issue #33. The Google Maps API is very difficult to support for holes in polygon-class geometries owing to the difficulty of determining whether an inner ring is a hole or another polygon.

[2015-04-19 17:13] arthur-e commented on #46
I added Wicket to the Bower index with:
[code]

However, when I call `bower info Wicket` I am seeing:
[code]

We have several versions available as tagged releases and tags are on GitHub. Any idea what's wrong?

[2015-05-01 05:01] svenlaater commented on #46
The issue might lie in your package versioning. Bower expects You to use [Semver](https://github.com/npm/node-semver) syntax e.g. x.x.x.

[2015-05-18 07:01] KoenDierckx commented on #46
Sven is correct, use  MAJOR.MINOR.PATCH, I think it does not work now, because the PATCH part is mandatory.
I also noticed the bower.json file has version 1.2, within the v1.3 tag. So don't forget to bump the version in the bower.json before creating a new tag.
Thanks in advance !

[2015-05-31 03:57] nsoft opened #68 "Licensing"
It's nice that you've been explicit about your license, but your choice of license has more or less ruined my day. :( I was so excited about such a neat library, played around with your demo web site. Your site was cool, and the mode of integration (WKT) made great sense, and happens to jibe perfectly with spacial search in Solr, so I told my client I had a likely solution, and even wrote some cod

[2015-05-31 06:21] akuckartz commented on #68
@nsoft Please do not spread FUD about the GPL. It generally is possible to understand the implications of the GPL without asking a lawyer.

[2015-05-31 15:31] arthur-e commented on #68
Hi @nsoft, thanks for your comments. In general, I would refer anyone with questions about the GPL to [this excellent FAQ by the Free Software Foundation (FSF)](http://www.gnu.org/licenses/gpl-faq.html). My thoughts:

I have been asked multiple times to consider relicensing Wicket under a commercial use-enabling license. My knee-jerk answer [comes from the FSF FAQ](http://www.gnu.org/licenses/gpl-

[2015-05-31 16:16] fsparv commented on #68
Hi arthur-e,
I have witnessed (and been forced to oversee) a multi-man year effort to remove LGPL code from a product due to the opinion of their lawyers that it conflicted with the *warranty* for the product. I may be a bit jaded WRT GPL by that very unpleasant experience. Contrary to what @akuckartz claims, interpreting the GPL can be very subtle.

There are of course many views on "free" and ho

[2015-05-31 16:28] akuckartz commented on #68
@fsparv Replacing lawyers might have been the better option... But I do not know enough details to decide that.

Again: Depending on the details it perhaps would have influenced my opinion regarding certain lawyers...

Yes, that *is* very unusual.

[2015-05-31 16:36] fsparv commented on #68
@akuckartz Evidently they felt that in combination, the LGPL and the warranty obligated us to support and provide fixes for the LGPL software. If true, that would have clearly been a problem. I am not a lawyer, so maybe they were right, maybe they were wrong, but that's how it went down. At the time I actually suggested that it might be far cheaper to fix the warranty rather than the software, but

[2015-06-10 08:15] krisd commented on #46
+1

[2015-07-02 17:33] PaulAngelino opened #70 "Esri JS API - Wicket generates lat/long instead of web mercator coords for point features"
I'm testing your library with a co-worker using the Esri JavsScript API.  We allow the user to draw on the map and then we save to a database by passing the WKT generated by Wicket.  We use the following code to convert the Esri geometry to WKT:

wkt.fromObject(geometry);
var geodata = wkt.write();

It seems that when we draw point features on the map, the coordinates generated by Wicket in the WK

[2015-07-06 13:30] arthur-e commented on #70
Hi @PaulAngelino, I should first mention that Wicket has only been tested with decimal degrees and I have no experience using WKT with coordinates in meters (e.g., with UTM projections). I'm also not very familiar with the ESRI JavaScript API.

If you're drawing in Web Mercator, the coordinates should be in decimal degrees. It sounds like you want your WKT coordinates to be in meters; is that corr

[2015-07-06 17:57] PaulAngelino commented on #70
Thanks for your reply @arthur-e.  The coordinates that the Esri JS API gives me are in meters.  I guess the most important thing here is consistency, yes.   We'd like all of our feature coordinates to remain in meters.  I dug into this with a colleague and I think we discovered where the problem lies.  I see that in the deconstruct function of your wicket-arcgis.js file, you reference obj.getLongi

[2015-07-06 18:57] arthur-e commented on #70
Sounds good! I look forward to your pull request.

[2015-08-20 23:10] romaxa opened #72 "Remove windows/dos line ending from wicket-leaflet.js"
all files in project have unix line endings except wicket-leaflet.js, it would be nice to keep style identical in all files

fix: sed $'s/\r$//' -i wicket-leaflet.js

[2015-08-21 11:56] brandfocus commented on #64
+1

[2015-08-26 13:14] csavvakos opened #73 "Can not render correctly a Polygon that used to render a couple of months ago"
Hi,

I have this collection of [Polygons](https://gist.github.com/csavvakos/96ffba3c3a2bf6d5e71b) which used to render correctly, but no longer does. It should look like a hand fan. I get a straight line instead.

[2015-08-27 17:32] arthur-e commented on #73
Hi @csavvakos. Please provide more information. Are you using a specific release or the bleeding-edge of the repository? Have you upgraded since this rendered correctly? What were you using before?

[2015-08-29 07:47] csavvakos commented on #73
Hi,

I've been always using the Google Maps API online demo. So I can not give you more information about a specific version. The last time I used it and worked correctly was at July 8, if this is of any help.

[2015-10-05 16:51] steveoh commented on #70
this should be closed with 1b39f91e918aaf5921a1bcde6f39562bb628fada

[2015-10-05 17:04] steveoh commented on #46
[code]

Seems to be working and can be closed.

ps: your npm package is out of date also.

[2015-10-05 17:51] arthur-e commented on #70
By George, you're right!

[2015-10-05 17:51] #70 closed

[2015-10-05 17:55] PaulAngelino commented on #70
Glad we could contribute!

- Paul

From: "K. Arthur Endsley" <notifications@github.com<mailto:notifications@github.com>>
Reply-To: arthur-e/Wicket <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Monday, October 5, 2015 at 11:51 AM
To: arthur-e/Wicket <Wicket@noreply.github.com<mailto:Wicket@noreply.github.com>>
Cc: Paul Angelino <pangelino@tnc.org<mailto:pangelino@tnc.org>>
Subject:

[2015-10-05 18:57] steveoh opened #74 "wicket-arcgis AMD update"
this component only works with the global esri namespace instead of the AMD modules which is the not recommended route for working with esri js.

My take is that it doesn't really fit nicely into your project because you are not on the AMD train and new objects are being created from the global namespace. In AMD land you would need to require that class in to create instances of it. It could come

[2015-11-17 17:04] jbgarr commented on #64
+1

[2016-01-05 13:37] #55 closed

[2016-01-06 01:54] amenadiel commented on #74
Lol, I commented on your PR without reading this first. Now it makes a lot more sense.

Could you provide an example of the provider reccomended way of loading esri components?

[2016-01-06 01:55] #53 closed

[2016-01-06 14:54] steveoh commented on #74
From [the docs](https://developers.arcgis.com/javascript/jsapi/map-amd.html).

[code]

You would reference `dojo.js` which creates the `require` global.

[2016-01-14 15:16] joostvenema commented on #46
+1

I'm using a custom resolver, which requires Semver. Please create version `1.3.1` and I'm happy :-)

https://www.jfrog.com/jira/browse/RTFACT-8187

[2016-01-25 08:21] brndusic opened #79 "TypeScript definitions"
Hi All,
I have searched for typescript definitions for Wicket library but haven't found any. Does anyone knows if definitions exist anywhere?

[2016-02-04 00:51] deeg commented on #46
@arthur-e, any chance you will update your versions so bower will work with something besides * or a commit hash.

It would be nice to be able to load the latest stable version by version number. If you still need help please let me know, more than happy to help.

[2016-02-04 01:06] deeg commented on #68
I also wish this was MIT or Apache. @arthur-e, have you had any change of heart on changing the license?

[2016-02-04 17:20] arthur-e commented on #46
I need to confirm that GitHub's automatic releases will still work if I re-tag all the versions with semantic version numbers, dropping the "v" that was prepended long ago at GitHub's suggestion. Hope to get back to you soon about this.

[2016-02-16 13:23] jcorry opened #80 "AMD/Require.js example"
Does anyone have an example of how I can use the Gmap extension with Wicket importing them both with require.js?

I've tried several approaches with shims with deps and exports and can't get passed:

`ReferenceError: Wkt is not defined`

Has anyone done this?

[2016-02-29 05:59] daamsie commented on #80
@jcorry I had a lot of trouble with the version in npm which is out of date (1.1). My package.json now has this as a dependency:

`"wicket": "arthur-e/Wicket"`  (this fetches it from the master branch on github instead of npm repo)

and then required like this because there is no index.js

`var Wkt = require('wicket/wicket');`

[2016-03-26 16:33] BHare1985 commented on #33
I believe the problem is related to the spec on which inner holes are determined. Read more about standards here: http://gis.stackexchange.com/questions/119150/order-of-polygon-vertices-in-general-gis-clockwise-or-counterclockwise

I believe the standard requires that a polygon (not a multipolygon) has only 1 exterior ring which shall be clockwise and all additional rings are considered interior a

[2016-04-29 12:58] Montago commented on #64
+1

[2016-04-29 13:50] Montago opened #81 "really really really weird problem with multipolygon / polygon"
I've made a polygon editing tool using Google Maps api, JSTS and Wicket

JSTS allows me to cut (difference) and add (union) parts to a polygon shown on Google Maps.

BUT... there's a weird problem !!

if the first polygon i show, is a WKT:POLYGON - then i'm not allowed to render a WKT:MULTIPOLYGON afterwords !!

on the other hand, if the first polygon i show is a WKT:MULTIPOLYGON, then i can freel

[2016-05-02 07:55] kennynaoh opened #82 "Version problem"
Hello @arthur-e ,
I am the member in [cdnjs](https://github.com/cdnjs/cdnjs) project
We want to host this library.
But there are some version problems.
The latest git tag version is v1.3, but the latest version in ```packe.json``` is v1.1.0.
Please confirm this.
Thanks.

https://github.com/cdnjs/cdnjs/issues/6746

[2016-05-02 12:00] arthur-e commented on #82
Hi @kennynaoh ,

I'm unfamiliar with `packe.json` and I don't believe that file is in the repository. Is this something that is automatically generated by some external framework? Our `package.json` and `bower.json` files both have a tagged version of 1.3.

Thanks,
Arthur

[2016-05-02 12:14] arthur-e commented on #46
Pushed version 1.3.1, and tag name with semantic versioning, to GitHub.

[2016-05-02 12:14] #46 closed

[2016-05-02 12:15] arthur-e commented on #72
Fixed in 1.3.1.

[2016-05-02 12:15] #72 closed

[2016-05-02 12:17] arthur-e commented on #82
Latest version now 1.3.1.

[2016-05-02 12:20] kennynaoh commented on #82
@arthur-e
Thanks.
Also maybe you should publish the latest version on npm.

[2016-05-02 13:03] #82 closed

[2016-05-02 13:04] arthur-e commented on #82
Updated on npm. Thanks!

[2016-05-03 07:25] Montago opened #83 "please remove for-in loops"
I had to remove about 10 for-in loops in both Wicket.js and Wicket.gmap.js in order to make it function properly.

For-In has the side effect that it also iterate prototype functions on Array's - even though safe measure has been put in place : hasOwnProperty checks, it can still fail !

there are several alternatives which is better code:

eg:
**MDM / ES6**
Array.forEach(function (obj) {  ...  })

[2016-05-03 13:23] arthur-e commented on #74
I'm not sure why the Dojo AMD loader isn't able to load `wicket.js`. I was updating the `gh-pages` branch today and I saw in the console that `Wkt is undefined`. Not sure why this issue hasn't come up before! We have AMD support in the first lines of `wicket.js`:

[code]

I've tried to work with the Dojo `require()` function in `wicket-arcgis.js`. This works (but is obviously not a real solution):

[2016-05-03 13:36] arthur-e commented on #83
Could you provide some more details on your implementation? I ask so that I can reproduce the problem you're having. In what framework/ browser do these 10 `for-in` loops cause Wicket to not work as expected?

As always, a Pull Request that passes the tests is appreciated.

[2016-05-04 00:15] amenadiel commented on #83
Given a valid object, you don't know if its properties are in turn other objects (which you'd need to traverse using Object.keys) or arrays (which are safe to traverse with the methods you suggested).

As valid geojson can be a an object containing an array of objects with different depths, replacing for..in would need more type checks, which is even less performant.

[2016-05-04 00:22] amenadiel commented on #80
[code]

You need to set that wicked_gmaps depends on wicket in your config.

[2016-05-04 06:41] Montago commented on #83
I guess i was wrong...

the problem i tried to solve was #81  but failed to do so.

I see that you use for..in to function with Arrays as well as JSON - and since you use hasOwnProperty there shouldn't be a problem..

sorry about the fuzz

[2016-05-04 06:41] #83 closed

[2016-05-04 07:20] Montago commented on #64
@arthur-e Holes are ALWAYS defined by being counter clockwise http://stackoverflow.com/questions/7494474/google-maps-api-polygon-with-hole-in-center

the gmap demo is also able to show this by flipping 2 coordinates:

MULTIPOLYGON (((40 40, 20 45, 45 30, 40 40)), ((20 35, 45 20, 30 5, 10 10, 10 30, 20 35), (30 20, 20 15, 20 25, 30 20)))
vs
MULTIPOLYGON (((40 40, 20 45, 45 30, 40 40)), ((20 35, 45

[2016-05-04 08:14] Montago commented on #64
ARGH... I've traced the source of this problem... it has NOTHING to do with orientation or holes ..

the problem is Wkt.Wkt.prototype.extract.multipolygon that malfunctions !

multipolygon recieves a perfectly defined array of coordinates, then sends each coordinate to extract.polygon which forwards to multilinestring WHICH IS WRONG !

multilinestring expects an array but receives an object of {x,

[2016-05-04 09:01] Montago commented on #64
this seems to fix the problem:

		multilinestring: function (multilinestring)
		{
			var i, parts = [];

			if(multilinestring.length)
				for (i = 0; i < multilinestring.length; i += 1)
				{
					parts.push(this.extract.linestring.apply(this, [multilinestring[i]]));
				}
			else
				parts.push(this.extract.point.apply(this, [multilinestring]));

			return parts.join(',');
		},

[2016-05-04 10:44] Montago opened #84 "reverseInnerPolygons should be automatic..."
eg: POLYGON((10 10,10 20,20 20,20 10,10 10),(11 11,19 11,19 19,11 19,11 11))

any multi-dimmensional POLYGON is ALWAYS a polygon with holes and therefore the holes should always orient themselves correctly..

instead of flipping the direction without checking, the framework should align to spec
eg: config.holeIsCCW = true

then use a sign calculation to orient the holes accordingly

eg:

[code]

[2016-05-04 11:33] Montago commented on #84
http://stackoverflow.com/questions/8139739/wkt-how-do-you-define-polygons-with-3-rings-2-holes

[2016-05-04 12:57] arthur-e commented on #64
This still produces a MULTIPOLYGON, but at least the coordinates are now displayed.

[code]

[2016-05-04 13:09] arthur-e commented on #64
I've updated the `gh-pages` branch so you can see how these work in the sandboxes. It's clear the Google Maps extension still can't handle holes; the original `POLYGON` is not rendered with its inner ring as a hole:

https://arthur-e.github.io/Wicket/sandbox-gmaps3.html

However, if the same `POLYGON` string from the top of this issue is pasted into the Leaflet sandbox, it displays perfectly:

htt

[2016-05-04 13:14] arthur-e commented on #33
Thanks for your thorough investigation, @BHare1985. This seems to suggest that when we detect inner rings in the Google Maps extension, we need to reverse the order of the coordinates (and do NOT do this for the other libraries). I'll look into it.

[2016-05-04 13:30] arthur-e commented on #33
The `MULTIPOLYGON` examples from the sandbox/ demo came from the Wikipedia page on WKT. It seems that since I first copy/pasted them, [someone realized that they were incorrectly written and changed them on Wikipedia](https://en.wikipedia.org/w/index.php?title=Well-known_text&diff=580993271&oldid=578697053). The comment on the change notes that:

So, the demo text is incorrect and should have a co

[2016-05-04 13:43] Montago commented on #64
The reason it creates a multipolygon is because the 'hole' has the wrong direction, it should be CCW..

I've made a fix for that in Patch-2

[2016-05-04 13:47] arthur-e commented on #64
@Montago I implemented the changes you copied me on. Is there something I missed ("Patch-2")? A Pull Request would help.

[2016-05-04 13:50] Montago commented on #84
https://github.com/arthur-e/Wicket/pull/85

[2016-05-04 13:52] Montago commented on #64
I'm completely new to this GitHub thing.. committing changes ... i think i managed to do so now. look in #84

[2016-05-04 14:40] arthur-e commented on #33
Thanks to @Montago's push of #85 and some minor changes on top of that, the Google Maps extension can now **read** WKT strings describing (Multi)Polygons with interior rings/ holes and `toObject()` now renders the correct `google.maps.Polygon` instance. **This has been fixed in 1.3.2.**

However, this problem persists for **deconstructing** (with `deconstruct()` in `wicket-gmap3.js`) existing `goo

[2016-05-04 14:43] arthur-e commented on #84
Please reference #33 going forward.

[2016-05-04 14:43] #84 closed

[2016-05-04 14:44] #81 closed

[2016-05-04 14:44] arthur-e commented on #64
Partial fix implemented in 1.3.2.; please reference issue #33 going forward.

[2016-05-04 14:44] #64 closed

[2016-05-04 14:45] arthur-e commented on #73
Probably related to #33. If so, a partial fix was implemented in 1.3.2.

[2016-05-04 14:45] #73 closed

[2016-05-04 15:21] BHare1985 opened #86 "Distinguish rectangles from polygons"
I understand that WKT doesn't distinguish between a rectangle and a polygon, but google maps and possible other mapping libraries may.

Google maps for example has a rectangle object which difference, for example, allowing resizing the sides of the rectangle (2 vertices simultaneously) rather than single vertices like a polygon.

I would like to see an enhancement that can recognize rectangles vs

[2016-05-04 16:18] arthur-e commented on #86
Wicket can already read `google.maps.Rectangle` instances:

https://github.com/arthur-e/Wicket/blob/master/wicket-gmap3.js#L483

And it can create `google.maps.Rectangle` instances:

https://github.com/arthur-e/Wicket/blob/master/wicket-gmap3.js#L128
https://github.com/arthur-e/Wicket/blob/master/wicket-gmap3.js#L193

If this doesn't work in practice (I don't think we have tests for it), please le

[2016-05-04 17:30] BHare1985 commented on #86
Confirmed this not working.

I am reading in `POLYGON ((-81.37298583984375 40.989228176893796, -81.269989013671875 40.989228176893796, -81.269989013671875 40.928040105332393, -81.37298583984375 40.928040105332393, -81.37298583984375 40.989228176893796))` which was created using google maps retangle tool. When google maps loads it, its loaded as a polygon instead of a rectangle.

Also confirmed usi

[2016-05-09 10:24] Montago commented on #33
The reason why this WKT isn't being loaded correctly is because Wicket reads the POLYGON incorrectly compared to MULTIPOLYGON...

instead of creating an Array of Arrays, it only create an Array, which results in GMAP recieving X number of polygons to be rendered instead of 1 polygon with Y holes

So what i'm saying is, the reader converts holes into polygons...

i'll see if i can fix it.

[2016-05-09 14:23] Montago commented on #33
hmmmmmmm

I've been debugging this WKT and Wicket all day and i can't find the reason why holes are not shown !
even when converting the polygon to multipolygon it still doesn't work.

smells more and more like a problem with Google Maps..  :-/

[2016-05-09 14:44] Montago commented on #33
If i convert the first polygon into a big square that contains the holes, the combined polygon works like it should.

:-/

[2016-05-09 14:59] Montago commented on #33
I must conclude that this WKT is broken in some way.,.. changing the outer-ring (container) into anything else than provided, will make this WKT work just find:

POLYGON ((-118.63523041885304 34.26542333529398,-118.63380432128906 34.268566186749894,-118.63342372846432 34.269273845838455,-118.6334260000001 34.26928900000002,-118.63343700000007 34.26936500000003,-118.6334470000001 34.269434000000025

[2016-05-10 08:38] Montago commented on #33
I've filed an issue at Google Maps, since this issue only shows up with Google Maps API
https://code.google.com/p/gmaps-api-issues/issues/detail?can=2&start=0&num=100&q=&colspec=ID%20Type%20Status%20Introduced%20Fixed%20Summary%20Stars%20ApiType%20Internal&groupby=&sort=&id=9724

[2016-05-11 10:48] Montago commented on #33
I've finally found the real problem..

Google Maps can't / don't render a Concave polygon with holes:
https://code.google.com/p/gmaps-api-issues/issues/detail?id=9733&thanks=9733&ts=1462962688

it has nothing to do with Wicket

Mark this bug as can't / wont fix...

[2016-05-11 11:33] PureKrome commented on #33
talk about *epic le bug* !

[2016-05-12 11:10] Montago commented on #33
I've abandoned Wicket in favor of Terraformer.io and GeoJSON.io
WKT -> Terraformer -> GeoJSON -> Google Map

and i've managed to show this WKT using that method - the error seems to be the winding of the polygon ! :-(

i've made a commit that should fix this.

[2016-05-12 11:16] Montago commented on #33
![image](https://cloud.githubusercontent.com/assets/456040/15212891/c49dd4f8-1843-11e6-8a8d-76f1d5470b74.png)

[2016-05-12 12:23] PureKrome commented on #33
@Montago TIL: Terraformer.io. :+1:

[2016-06-01 02:05] Paralexic opened #89 "Invalid google map polygons created from valid MULTIPOLYGONs"
When converting a MULTIPOLYGON wkt string into an array of google polygons, the results are invalid. By this I mean that the getPath() function of the resulting polygon(s) has a length of 0, and no shape will be displayed if applied to a map. This only happens under these specific conditions:

1) Before converting a MULTIPOLYGON, convert a POLYGON wkt string first.
2) Use same map definition objec

[2016-06-01 02:59] amenadiel commented on #89
You should instance a new Wkt.Wkt() object everytime you intend to ingest and output a given entity.

Ingesting a polygon and then a multipolygon will probably mix things up.

Another phenomena you might see is that the rules for a valid WKT multipolygon are not quite the same as neither an array of google map polygons nor one polygon with N rings.

And ever if there was a deterministic conversion

[2016-06-01 03:05] Paralexic commented on #89
A new Wkt object is created each time, both in my code base and the example I linked above. I'm not sure I fully understand the rest of your comment, but I think it doesn't apply to me because none of my MULTIPOLYGON shapes have cutouts, only multiple polygons.

[2016-06-21 08:32] easyest commented on #89
+1 on the problem - multipolygon's are not drawn on google map. In fact, no other polygons are drawn after first multipolygon is tried...

[2016-06-30 08:24] alpha-beta-soup commented on #42
+1, just tried to use a `MULTIPOINT Z`.

[2016-09-06 14:41] leforthomas opened #90 "Online Arcgis demo not working"
The demo @ http://arthur-e.github.io/Wicket/sandbox-arcgis.html doesn't work for me. I'm getting various errors in the console, for instance "(index):15 Error: multipleDefine(…)" or "sandbox-arcgis.html:66 Uncaught ReferenceError: Wkt is not defined".

[2016-09-06 14:52] arthur-e commented on #90
See #74 which is likely related.

[2016-10-02 17:07] bubnenkoff opened #91 "How to convert WKT (MULTIPOLYGON) to GeoJSON?"
I have got MULTIPOLYGON in WKT format. I need to convert it to GeoJSON. How can I do it?

[code]

[2016-10-02 18:35] arthur-e commented on #91
[code]

[2016-10-07 16:16] kachkaev opened #92 "Tolerate quotes"
I'm really glad to discover Wicket and I would like to use it as a little tool for verifying the output of some chained `ST_xxx` transformations. I'm running my queries in PgAdmin and then copy the result to a text editor, making a quick confirming stop at your app.

When I select a cell in PgAdmin results and press `ctrl+c`, the buffer is populated with a quoted string, e.g. `"POLYGON(???)"`. Pas

[2016-10-07 16:21] kachkaev opened #93 "Ctrl+enter / shift+enter to "Map It!""
It would be nice to have a shortcut for "Map It!" button to speed-up the experiments with WKT. `Ctrl+enter` and `Shift+enter` when the input is focused seem to be a reasonable choice for this!

[2016-10-07 16:35] arthur-e commented on #92
Hi @kachkaev I'm glad you found the Wicket sandbox useful. The functionality you're describing, just as with #93 that you raised, would be limited to the sandbox's front-end. I'll see if I have time in the next few days to implement these changes (should be straightforward); anyone with HTML + JS experience is welcome to contribute these changes as a Pull Request.

[2016-10-26 17:53] ekbarber opened #95 "MULTIPOLYGON creation not working in Leaflet 1.0"
With the release of Leaflet 1.0, L.multiPolygon is no longer a function, and therefore an error is thrown when Wicket is parsing a MULTIPOLYGON (L.multiPolygon is not a function).

It appears the new way to create a Multipolygon is to pass a multidimensional array to L.polygon (http://leafletjs.com/reference-1.0.0.html#polygon).

[2016-10-26 17:56] arthur-e commented on #95
Thanks for reporting this. Can you recommend a solution that is also backwards compatible? Or is object/ feature detection the way to go here?

[2016-10-26 18:19] ekbarber commented on #95
@arthur-e Depends on how backwards compatible you'd like to be. If it's just with 0.7.7, you could use L.version to check if it's 0.7.7 or not. But that'll get complicated if you want to allow for versions prior to 0.7.7.

or you could, as you suggested, simply check if L.multiPolygon exists first, and if so, use that, otherwise use L.polygon.

Not that we'll likely have to take a similar approach

[2016-10-30 06:47] dyh333 opened #96 "how to use Wicket in typescript environment"
does it provide a @types .d.ts file to support typescript environment?  thanks

[2016-10-31 15:01] arthur-e commented on #96
Hi @dyh333, we haven't had any Typescript developer contribute this file. I'm not qualified to do so, myself. I'd happily accept any pull request contributing one.

[2016-11-07 14:42] dshorthouse opened #97 "Freehand drawing"
You're welcome to make use of this if you like: https://rawgit.com/dshorthouse/0afc690b83ed056f6762a96702c041e7/raw/190037de4152654a2e4b1e13394b40ba67249fd4/wkt.html

[2016-11-09 20:05] crash-dive commented on #95
I can confirm that the fixes above work. I have just monkey patched our install until a fix is ready by doing:

[code]

If you want I can send a pull request for it or you can just copy the above :)

[2016-11-09 20:21] arthur-e commented on #95
@crash-dive Could you send a pull request, please?

[2016-11-13 15:34] #95 closed

[2016-11-18 12:17] Upperstage commented on #42
+1

[2016-12-08 18:31] #74 closed

[2016-12-12 13:19] borgille opened #100 "Polygon which overlaps -180/+180 boundary incorrectly drawn"
I ran into an issue with a polygon drawn around North America where one of the points west of Alaska overlapped  past the -180 longitude boundary.  The point appears to be placed correctly (i.e. where I would want it); however, it's defined in the positive space, and using it with other software (e.g. [JTS](http://tsusiatsoftware.net/jts/main.html) results in the point being drawn with the point w

[2016-12-12 20:09] arthur-e commented on #100
Confirmed that the elongated triangle seen in the JS Fiddle example is reproduced in the Leaflet sandbox.

Just a quick note: Wicket doesn't "draw the points" so much as it creates a Leaflet/ Google Maps/ ArcGIS API object that represents the points and asks the corresponding framework to map it. I mean only to clarify--the solution is probably to be found in how to tell the mapping library to cro

[2016-12-12 20:12] arthur-e commented on #100
This also means solutions are going to specific to the mapping API (i.e., need a solution for the Google Maps 3 API, need a different solution for Leaflet, etc.). For instance, the Leaflet API in Wicket needs to be updated [to support the new `wrap` functionality in Leaflet](https://github.com/Leaflet/Leaflet/issues/82).

[2016-12-19 04:22] trungk18 commented on #80
I tried so many times with deps and exports and still not working :(

[code]

The error is still as below.

Have anyone solved it ?

[2016-12-21 03:25] trungk18 opened #101 "Multipolygon (include Polygon with holes) event listener"
Hi Arthur,

Firstly, thanks for your awesome library. I am implementing the UI for the user to input WKT and update it on the map. After that user is able to make the change on the map and the updated WKT value will get back to the text area accordingly. Just almost same with your google maps example.

Basically, your example didn't support the polygon with holes event such as **insert_at, remove_

[2016-12-22 04:07] trungk18 commented on #80
Hi guys,

I have brought this question to StackOverflow and got an excellent answer. Please check @Louis's answer in the following link.

http://stackoverflow.com/questions/41254745/requirejs-load-wicket-library

[2017-01-06 21:50] arthur-e commented on #101
Hi @trungk18! I'm not sure I follow your description exactly but the problem you're experiencing may be related to an outstanding issue, #33. The Google Maps API does not appear to have a reliable way of detecting when an inner ring is a hole versus when an inner ring is a polygon within a multipolygon, at least for concave geometries but possibly more general cases as well. Until that issue with

[2017-01-09 12:10] Searlon opened #103 "Polygon and Marker issues with Leaflet.Draw version 0.4.9"
I've been upgrading the leaflet and leaflet plug in libraries, along with Wkt.  I was originally using the following versions and everything worked fine:
Leaflet 0.7.5
Leaflet.Draw 0.2.4
Wkt 1.3

However, now I'm upgrading to the latest versions:
Leaflet 1.0.2
Leaflet.Draw 0.4.9
Wkt 1.3.2

What I've found is that Polygons will be parsed as Wkt without any errors, however their latitude and longitu

[2017-01-09 13:55] arthur-e commented on #103
To clarify, this problem only arises when Leaflet.Draw is used?

[2017-01-09 14:14] Searlon commented on #103
I've managed to replicate it in this JSFiddle without using Leaflet.Draw: https://jsfiddle.net/ve4Lkdsh/

[2017-01-09 14:20] arthur-e commented on #103
Thanks for this detailed report. Hopefully, someone can identify the problem and issue a pull request soon.

[2017-01-09 14:27] Searlon commented on #103
I suppose I should clarify a little more as my original post mentions issues about Polygons and Markers.

The issue for Polygons happens without using Leaflet.Draw, as demonstrated in the above JSFiddle.

However the issue with Markers only happens when placing a Marker when using Leaflet.Draw.  This is because Leaflet.Draw has changed the constructor for the Marker from L.Marker to L.Marker.touch

[2017-01-10 08:22] Searlon opened #104 "MultiPolygon and MultiLineString does not work in Leaflet 1.0.2"
I'm upgrading my versions of Leaflet and Wkt to the latest versions:
Old Leaflet version 0.7.5 -> New Leaflet version 1.0.2
Old Wkt version 1.3 -> New Wkt version 1.3.2

MultiPolygon and MultLineString shapes no longer work.  I can no longer create the leaflet objects from Wkt or convert a leaflet object to Wkt.  It looks like this is because Leaflet has changed how they construct these shapes.  T

[2017-01-10 13:31] arthur-e commented on #104
It seems to me this was already reported in #95 and supposedly fixed by PR #98. Can you comment on how these this issue and its supposed fix compare?

[2017-01-10 14:20] Searlon commented on #104
I'm not in a position where I can easily test that change right now. But looking at it I would think it will fix the problem when creating a MultiPolygon or MultiPolyline from a Wkt String.
However I think you're still going to have a problem deconstructing a leaflet object. So going from a Leaflet Object of that is a MultiPolygon or MultiPolyline to a Wkt string is going to error.

If you look at

[2017-01-10 14:21] arthur-e commented on #104
@crash-dive Maybe you could take a look at this and create a pull request?

[2017-01-11 00:01] crash-dive commented on #104
@arthur-e I am sorry to say we encountered this issue and tried to fix in Wicket but decided it was easier to write it ourselves because we had much simpler requirements such as not needing to support deconstruction of multipolygons or holes in the polygons.

What we ended up with is in TypeScript and attached. It is designed for a specific narrow circumstance so it does not convert everything.

[

[2017-01-12 07:00] BayramBASDUVAR commented on #91
Hello,
How can we do this when extracting PostgreSQL?

[2017-01-17 18:38] peterennis commented on #68
I think an option to license the library as LGPL will suit most free/open and commercial/closed projects, with the understanding that the lawyers and warranty case is more the exception for big companies with legal budgets.

[2017-02-07 00:14] deeg commented on #68
If you are looking for a library with a better license I suggest looking at https://github.com/Esri/terraformer-wkt-parser

[2017-02-19 04:09] jblamber commented on #103
+1 am also seeing this issue. Wicket is correctly converting circles, lines and squares to WKT objects, bu the polygon just shows up as POLYGON((undefined undefined,undefined undefined)) - irrespective of how many points make up the polygon. The same as OP - My polygons are created from leaflet draw. Will investigate further.

[2017-02-19 04:31] jblamber commented on #103
This is the reverse issue of #95 - when the WKT parser tries to extract the latLngs from a polygon (which can now also be a multipolygon) its recieving a two dimensional array

Polyline.js line 59+
`// @method getLatLngs(): LatLng[]
	// Returns an array of the points in the path, or nested arrays of points in case of multi-polyline.
	getLatLngs: function () {
		return this._latlngs;
	},`

Which re

[2017-02-19 04:35] jblamber commented on #104
I believe this is the same issue as #103

[2017-02-19 04:50] jblamber commented on #103
More investigation - the way circles/ "rectangles" are handled from leaflet is now not 100% correct. Circles now use a L.Circle constructor (apparantly used a L.Rectangle before?)

[code]

Rectanges are now just L.Polygons (single dimension) but "polygons" are now multidimensional.

[2017-02-19 05:14] jblamber commented on #103
If you need a fast fix for leaflet-draw (which doesnt seem to support polygon holes - you can use this inside wicket-leaflet.js starting @ line 276

Over the next few days ill try to source some samples with polygon holes to test that. But this works for the basic Polygons leaflet now uses while being backwards compatible.

[code]

[2017-02-20 17:24] arthur-e commented on #103
Great, thanks @jblamber! Can you put this in a pull request?

[2017-02-27 10:33] trungk18 commented on #101
@arthur-e Thanks Authur for your reply. I am doing a small hack to reverse the order of polygon when saving. But do you have a proper method for detecting if a set of points in an array that are the vertices of a complex polygon were defined in a clockwise or counterclockwise order?

[2017-02-27 13:13] arthur-e commented on #101
@trungk18 There used to be a tool in the Google Maps API to do just that; can't find it now. It wasn't working properly, anyway, as I recall, which is one of the reasons we're in this mess with Wicket. [A quick Google search turned up this solution](http://stackoverflow.com/questions/1165647/how-to-determine-if-a-list-of-polygon-points-are-in-clockwise-order), which allegedly works for both convex

[2017-02-28 10:01] trungk18 commented on #101
@arthur-e If I am not mistaken, did you mention about [google.maps.geometry.spherical.computeSignedArea](https://developers.google.com/maps/documentation/javascript/reference#spherical)

Let's say I am using the polygon with inner polygon insider as below

POLYGON ((35 10, 45 45, 15 40, 10 20, 35 10),(20 30, 35 35, 30 20, 20 30))

When I am using **computeSignedArea** to calculate the area of each

[2017-02-28 11:19] trungk18 commented on #101
Thanks @arthur-e, I have another query because I am confusing on how wicket is working.

Let's say I have the WKT as below and a function to set it into the map.

[code]
Result as
![before](https://cloud.githubusercontent.com/assets/6767322/23403302/830da008-fdea-11e6-8325-0c6cad5c55ed.png)

----

After that, I have a function to read data from **this.features** array and converting back to WKT.

[2017-03-04 19:30] mikeomeara1 commented on #96
I've put together a partial TypeScript definition that is working (although not fully tested) for wicket.js and the gmaps script (I'm not using Arc or Leaflet). It's working for me in my Angular/TS setup.

Assumes you have Google Maps typings installed... but no reason you couldn't just exclude those definitions if you're only using wicket core.

Although incomplete, hopefully it's useful.

https:

[2017-03-16 05:49] mikeomeara1 commented on #79
Way late...but...See #96 I created a starting point for those (like me) who couldn't find any published definitions.
Hope it helps.

[2017-03-23 05:04] venkat-vs-id opened #105 "right zoom level for POINT Markers"
Hi Arthur,
when I tried to plot a point on the gmaps, the zoom is not automatically adjusted. I see the point at very high zoom level. then I have to manually zoom out to know where the point is on the map.

[2017-05-03 00:52] denormalizer opened #106 "uglifyjs: command not found on npm run build"
How to reproduce

    [username@server proj]$ bower install -S Wicket
    bower Wicket#*   cached https://github.com/arthur-e/Wicket.git#1.3.2
    bower Wicket#*   validate 1.3.2 against https://github.com/arthur-e/Wicket.git#*
    [username@server proj]$ cd vendor/Wicket
    [username@server proj]$ npm run build

Error short:

    sh: uglifyjs: command not found

OS: CentOS 7 64 bit

[2017-05-03 00:52] denormalizer commented on #106
npm-debug.log

    0 info it worked if it ends with ok
    1 verbose cli [ '/usr/bin/node', '/usr/bin/npm', 'run', 'build' ]
    2 info using npm@2.15.1
    3 info using node@v0.10.46
    4 verbose run-script [ 'prebuild', 'build', 'postbuild' ]
    5 info prebuild wicket@1.3.1
    6 info build wicket@1.3.1
    7 verbose unsafe-perm in lifecycle true
    8 info wicket@1.3.1 Failed to exec build sc

[2017-05-12 08:26] BycorSanchez opened #107 "Point representation"
Hi all!
I have tested Wicket for a while and I have a question about geographical data. Geographic points are treated by Wicket as (Longitude, Latitude). Is there any way to treat them in Wicket as (Latitude, Longitude), the standard ISO 6709?
I can swap every point coordinate parameters, but I want to avoid if possible.
Thanks!

[2017-05-13 01:00] arthur-e commented on #107
Hi @BycorSanchez,

Thanks for your question. The WKT standard is Long., Lat.; this maps on to the X, Y ordering of an arbitrary Cartesian coordinate system.

Swapping every point coordinate pair... For mapping applications, this should be pretty easy. You would swap them before mapping? Or swap them after a point is drawn on the map (and internalized as WKT by Wicket)? Either way, JavaScript has a

[2017-05-15 08:37] BycorSanchez commented on #107
Hi @arthur-e

Thanks for your answer. I didn't know that WKT standard was Long, Lat. Most of the time I work with geographic representation where the standard is just the opposite. It make sense then that Wicket follow the WKT standard.

Finally I've opted to swap every point coordinate pair before mapping, right after Wicket's parsing, so the point is correctly mapped in gmaps.

Thanks!

[2017-05-15 13:41] #107 closed

[2017-05-23 06:48] denormalizer commented on #106
npm install uglify-js -g

[2017-05-23 06:48] #106 closed

[2017-07-05 06:54] dasdany opened #109 "Wicket is not working with Leaflet 1.1.0"
Wicket is not working anymore with leaflet 1.1.0.
There are some discussions on other projects like Leaflet/Leaflet.draw#739 and leaflet itself Leaflet/Leaflet#5589.
It's not possible anymore to extend leaflet on the old way. So coordsToLatLngs() and coordsToLatLng() are not working.

[2017-07-05 19:17] ddproxy commented on #109
Leaflet.Draw 0.4.10 introduces a leaflet restriction to prevent it being installed alongside L 1.1.0. We are working on introducing the changes for Leaflet 1.1.0 but that has not been released yet.

[2017-09-07 18:59] amenadiel opened #110 "Not passing google maps tests"
Cloning the repo and installing deps with `npm install` leads to two problems:

- There is no `node_modules/jasmine_core` folder.

This can be solved by replacing

[code]
with

[code]

in package.json

Once jasmine_core is properly installed, google maps tests fail:
- Standard WKT Test Cases: Converting objects into WKT strings: should convert a Polygon instance with a hole into a POLYGON string w

[2017-09-07 21:18] amenadiel commented on #110
@arthur-e I found out why thest
`Standard WKT Test Cases: Coverting WKT strings into objects: should convert a POLYGON string with a hole to a Polygon instance with the same hole`

is failing.

https://github.com/arthur-e/Wicket/blob/2e475ebca0989a1388a406e89201323e02d90c6e/tests/wicket-gmap3-spec.js#L151

The coordinates in the inner ring are in the wrong order. Instead of

[code]

it should be

[2017-09-13 04:00] #110 closed

[2017-09-20 12:37] knock-in opened #112 "Wicket-Leaflet toObject with multilinestrings not working since Leaflet 1.1.0"
With Leaflets update to 1.1.0 they changed how the coordsToLatLngs behaves. Before 1.1.0  the method tried to call coordsToLatLng of it's caller, see the "this" here:
https://github.com/Leaflet/Leaflet/blob/ed36a04aefd12cb92c78074fe63a8e460db1d464/src/layer/GeoJSON.js#L223
(Note: the link directs to the GeoJSON.js of Leaflet 1.0.3)

But now they changed it a little and it doesn't mind the caller a

[2017-09-20 14:54] #112 closed

[2017-10-20 21:26] neilm813 opened #116 "How to send to google.maps.Polygon"
Hello and thanks for this tool! I could use a little help please:

I tried following the provided example and am successfully able to log wkt.components and execute wkt.toObject(), but I'm unsure how to proceed and send the object to google.maps.Polygon

I've used google.maps.Polygon before so I only need to know how / where to extract the properly formatted coordinates regardless of wkt polygon t

[2017-10-23 14:03] arthur-e commented on #116
Hi @neilm813, it is `toObject()` that gives you an instance of the `google.maps.Polygon` class (or could be said "gives you a `google.maps.Polygon` object"). To get this on a map, let's assume you have a `google.maps.Map` object assigned to a variable `map`.

Every `google.maps.Polygon` has a method called `setMap()` which accepts, as its only argument, the `map`, in this case ([see reference](htt

[2017-10-23 14:03] #116 closed

[2017-10-23 18:11] neilm813 commented on #116
Appreciate the help, thanks @arthur-e

[2017-10-27 09:52] c-martinez opened #117 "CircularString support"
As far as I can see, `circularstring` objects are not yet supported. Are there any plans to support this and other curve types?

[2017-10-27 12:43] arthur-e commented on #117
I have no plans to add this feature but welcome any pull requests that include it.

[2017-11-02 09:22] dasdany commented on #109
Duplicate of #112

[2017-11-02 09:22] #109 closed

[2017-11-13 07:05] JacobusS opened #118 "getting Unexpected token < in wicket.js"
Hi, I'm not sure if I'm doing this correctly.
But I have a leaflet map and imported  wicket.js and wicket-leaflet.js, as follows:
   <script src="dist\wicket.js" ></script>

   <script src="dist\wicket-leaflet.js"></script>

When I view the page I get Unexpected token < in wicket.js and Unexpected token < in wicket-leaflet.js in the console.
And obviously because of this Wkt is undefined because I

[2017-12-07 17:27] paulcanning opened #119 "Uncaught ReferenceError: L is not defined"
I'm in an odd situation. I have this library working with Leaflet Widget (https://github.com/bforchhammer/leaflet_widget) locally, and it works perfectly.

But when deployed to a remote development server, I get this error.

The library is in the correct location and is being called (as evident by it working locally) so I'm at a loss for what to do.

The code on the remote server is the same as I

[2017-12-07 17:48] arthur-e commented on #119
`L`, here, refers to the Leaflet library, I believe. Perhaps the path to the Leaflet library is not resolved on the remote server?

[2017-12-07 22:03] paulcanning commented on #119
I'll triple check, but Leaflet was working fine previously (it's being used for user facing maps to show multiple markers).

I'm not sure why it wouldnt be able to find the leaflet library on the remote server though?

[2017-12-07 22:07] arthur-e commented on #119
You can use the developer's console to figure out on what path your remote deployment thinks Leaflet should be found. (For example, under the "Newtork" tab in Google Chrome's developer window.)

[2017-12-07 22:11] paulcanning commented on #119
I will have to check tomorrow, but to reiterate, everything works locally.

I'll do some digging.

[2018-01-03 18:49] NielsHoffmann commented on #42
+1 for Z support!

[2018-01-17 06:52] SadafZohra commented on #63
Same issue because I didn't included wkt-gmap3.js earlier.

[2018-01-19 00:48] BHare1985 opened #120 "Gmap: Ring orientation problem"
The WKT spec cares about ring orientation and Wicket is incorrectly ordering the points from google maps.

See more about this issue here: https://stackoverflow.com/questions/48305408/sql-server-geography-polygon-is-inverse-of-wkt-srid-4326

[2018-01-19 00:53] BHare1985 commented on #120
Seems related to https://github.com/arthur-e/Wicket/issues/33  -- I commented on this bug almost 2 years ago. I was expecting this to be fixed, so I am pretty sure its related.

[2018-01-19 15:39] arthur-e commented on #120
The WKT string test cases are now correctly defined (see our correspondence in #33 from May 2016). However, last I checked, the Google Maps API does not provide tools for *interrogating* the ring orientation of existing Google Maps API objects, which means that Wicket can't distinguish between `MULTIPOLYGONS` with and without holes nor between `MULTIPOLYGONS` of any sort and `POLYGONS` with holes.

[2018-02-25 14:13] arthur-e opened #123 "Travis CI build fails tests that pass locally"
`npm test` locally will pass all the tests but the Travis CI build is still failing (below excerpted from second half of tests; see `package.json`):

[code]

Thoughts:
- Need to `sleep` after requesting Google Maps API, before testing?
- [Could use Docker to test Travis CI build locally...](https://stackoverflow.com/questions/21053657/how-to-run-travis-ci-locally#35972902)

[2018-02-26 15:00] amenadiel commented on #123
The main problem comes from PhantomJS being unable to load google maps API from an `https` resource.  I'll create a PR to fix this.

[2018-02-26 15:27] arthur-e commented on #123
Fixed in recent PR.

[2018-02-26 15:27] #123 closed

[2018-02-26 15:28] arthur-e opened #125 "Create Google Maps API key for Wicket"
See issue #123 and PR #124.

[2018-02-26 16:18] amenadiel commented on #91
If using PostGIS, use `ST_Astext(geometry_column)` in your select, to get the WKB binary geometry in WKT text format

[2018-02-26 16:29] #91 closed

[2018-04-12 22:29] nickescallon commented on #104
Looks like the original fix was accidentally removed when adding module loader support was added here: https://github.com/arthur-e/Wicket/pull/121.

I've reintroduced it, as well as additional leaflet 1.x support here:
https://github.com/arthur-e/Wicket/pull/126

[2018-05-04 06:59] songjiahong commented on #89
Looks like the function to check whether the polygon is clockwise has bug, it should like this:
`var polygonIsClockwise = function (coords) {
	var area = 0,
		j = null,
		i = 0;

	for (i = 0; i < coords.length; i++) {
		j = (i + 1) % coords.length;
		area += (coords[j].x - coords[i].x) * (coords[j].y + coords[i].y);
	}

	return area > 0;
};
`
And when add the verts, we need to add all of them (inc

[2018-05-05 12:50] arthur-e commented on #89
Thanks @songjiahong; could you package this as a Pull Request?

[2018-05-06 00:36] songjiahong commented on #89
Done in: https://github.com/arthur-e/Wicket/pull/127

[2018-05-10 13:23] #33 closed, assigned to arthur-e

[2018-05-10 22:38] PureKrome commented on #33
Thanks for the fix! Much appreciated, bug-fixer(s) 👍

[2018-07-25 16:17] dbonanWoobler commented on #90
How do we get the Arcgis demo working. I got a look at #74 but did not help me solve the problem

[2018-07-25 22:34] arthur-e commented on #90
Hello, @dbonanWoobler, it has been a long time since I implemented support for the ArcGIS Javascript API. At the time, I never used the ArcGIS API for anything else. Since that time, it has been continuously updated and I have no experience with which to fix the inevitable backwards incompatibility. The problem you're experiencing likely lies in how to properly load the ArcGIS APi, e.g., whether t

[2018-07-30 20:50] tyler-austin opened #128 "Fails to Build"
`
C:\Users\me\Documents\GitLab\Wicket>npm run build

fs.js:646
  return binding.open(pathModule._makeLong(path), stringToFlags(flags), mode);
                 ^

TypeError: path must be a string or Buffer
    at Object.fs.openSync (fs.js:646:18)
    at Object.fs.writeFileSync (fs.js:1291:33)
    at C:\Users\me\Documents\GitLab\Wicket\node_modules\uglify-js\bin\uglifyjs:464:12
    at C:\Users\me\Do

[2018-08-30 15:26] amenadiel opened #129 "Using wicket in newly published library"
I just published my library [turf-google-maps](https://www.npmjs.com/package/turf-google-maps) to NPM, featuring Wicket as the responsible of converting back and forth google.maps objects to GeoJSON features.

@arthur-e I thought you might be happy to know

[2018-08-30 16:44] arthur-e commented on #129
That's great news! I'm hoping to use turf someday...

[2018-09-04 07:23] janu75 opened #130 "wicket-leaflet deconstruct: Typo for L.Circle"
Hi

This bug is both in release 1.3.4 and the main repo.
In file wicket-leaflet.js, function Wkt.Wkt.prototype.deconstruct:

[code]

The test is currently checking for constructor L.Rectangle, but obviously this should be L.Circle/L.circle.

[2018-10-03 16:45] technicolorenvy commented on #130
Closed by https://github.com/arthur-e/Wicket/pull/131

[2018-10-03 16:45] #130 closed

[2018-11-26 12:32] freewind opened #132 "`wicket-gmap3.js` doesn't work with webpack"
I build my code with webpack, and the code is:

[code]

and `package.json` is:

[code]

When I run, it reports error like:

[code]

I found such code:

https://github.com/arthur-e/Wicket/blob/d48397f6e1478d54445a31015d7090c9744a626b/wicket-gmap3.js#L21-L25

I have to modify it to:

[code]

Is this a bug or do I miss anything?

[2018-12-04 10:42] #132 closed

[2019-01-09 18:49] Jaman-dedy opened #134 "Test runs localy but fails on travis ci.. I'm using mocha, supertest, nyc"
I'm setting up a reful api in nodejs, the first part was to set it with data strucutre and all test were running right good localy and on travis but now I'm using posgresql and I've add some instructions in my .travis.yml... find it below

[code]
connection instructions are gathered in one file, here it is

[code]

[2019-01-09 18:58] Jaman-dedy commented on #134
Images  fails to be displayed, find them below

when running localy

![oktest](https://user-images.githubusercontent.com/46047244/50921418-af26b700-1450-11e9-97e2-234f7df2be6d.PNG)

when running on travis

![fail1](https://user-images.githubusercontent.com/46047244/50921505-e39a7300-1450-11e9-81f3-02294bb86b30.PNG)

![fail2](https://user-images.githubusercontent.com/46047244/50921585-117fb780-1451

[2019-02-13 17:03] chmelej opened #135 "wkt.fromObject() fails for POLYGON or MULTIPOLIGON"
Hi I have an example:
[code]
the polygon appears on the map but alert is triggered:
[code]

which is wrong :-(

I use a latest version of wicket.js, wicket-leaflet.js and leaflet.js 1.4.0

What am I doing wrong?
Thanks.

[2019-03-18 19:30] scottlepp commented on #135
@chmelej seems wicket-leaflet uses the old format of getLatLngs()

As a workaround, you could do something like:

      // WKT fromObject for leaflet follows leaflet 0.7 format
      const compatible = {
        _latlngs: polygonOnMap.getLatLngs()[0],
        getLatLngs: () => {
          return polygonOnMap.getLatLngs()[0];
        }
      }
      compatible .constructor = polygonOnMap.constructo

[2019-03-18 21:00] arthur-e commented on #135
@scottlepp Thanks for figuring this out! Could you fix this in a Pull Request?

[2019-03-21 12:07] chmelej commented on #135
Hi,
it's better. polygon is ok but multipolygon still not work:
[code]
... returns
[code]

thank you

[2019-05-27 08:53] destus90 commented on #135
@arthur-e can you publish the latest version of this library on npm? When I try to install it, I get the source code without the changes, which were made in a pull request (#136).

[2019-05-29 15:40] arthur-e commented on #135
@destus90 Oops, the version number in `package.json` was lagging. Sorry! 1.3.4 should be available now.

[2019-09-26 14:39] arthur-e commented on #35
There is (apparently) no interest in doing this!

[2019-09-26 14:39] #35 closed

[2019-09-26 14:41] arthur-e commented on #68
As I have indicated, I don't have the unilateral authority to change the license because multiple contributors are implicated in that decision.

[2019-09-26 14:41] #68 closed

[2019-09-26 14:44] #129 closed

[2019-09-26 14:45] arthur-e commented on #97
Thanks! But this seems more related to the sandbox, which merely demonstrates Wicket, rather than the Wicket library itself.

[2019-09-26 14:45] #97 closed

[2019-09-26 14:48] arthur-e commented on #100
This issue is a little stale; closing for now but please re-open if the issue persists in 1.3.5. Again, it's not clear if this is within the scope of the Wicket library.

[2019-09-26 14:48] #100 closed

[2019-09-26 14:50] arthur-e commented on #103
Haven't received an update in ~2.5 years, so I'm hoping that this was fixed in PR #121. Can re-open if the issue persists.

[2019-09-26 14:50] #103 closed

[2019-10-10 20:20] mrgr4v3s opened #138 "wkt.toObject() with NaN extent values"
I'm trying to convert the following WKT using the toObject() function, but the object extent is filled with NaN values. Can you guys help me solve this?

The code:
[code]

The poligon should look like this:
![image](https://user-images.githubusercontent.com/31900648/66603202-a72fab00-eb79-11e9-82b1-f47fc156ab65.png)

The WKT (wich is kinda HUGE):
[code]

[2019-10-16 15:00] mrgr4v3s commented on #138
Found the problem.

In the file _**wicket-arcgis,js**_, line **_212_** there is a if statemente wich return the rings in case there is no holes in the WKT.

The problem is that the esri.Polygon doesn't recognize the ring. Removing the if statemente solved the problem and the geometry is now showing on ArcGis maps.

I will open a PR later

[2019-11-22 10:09] ncarboni commented on #42
+1 :-)

[2019-12-17 12:56] sirKitKat opened #141 "Remove points from the polygon"
There is currently no way to remove points from the polygon

[2019-12-17 19:33] arthur-e commented on #141
Hi @sirKitKat, could you provide more information? Are you talking about the online sandbox? Wicket is intended for translating between WKT and mapping framework objects; I think that editing geometry is outside of the scope of this library.

[2019-12-18 09:35] sirKitKat commented on #141
When using the tool: http://arthur-e.github.io/Wicket/sandbox-gmaps3.html
You can draw or edit lines/shapes, you can move points and add points by draging the middle points of a line segment but there is no way to remove points from an existing polygon.

[2019-12-18 16:40] arthur-e commented on #141
Yes, the tool you linked is just a demonstration of the Wicket library. If someone has a Pull Request to improve these demos, I welcome it, but they don't make up any part of the functionality of the Wicket library.

[2020-01-02 20:31] #138 closed

[2020-03-14 06:35] ncarboni commented on #42
👍 would love to see that

[2020-04-08 09:09] destus90 opened #143 "Update npm package"
The published package on npm doesn't have some useful fixes which were made in the PRs: https://github.com/arthur-e/Wicket/pull/140, https://github.com/arthur-e/Wicket/pull/139. Please, bump version number and update npm.

[2020-04-08 15:04] arthur-e commented on #143
Done and done; v1.3.6 is up.

[2020-04-08 15:04] #143 closed

[2020-04-08 19:40] krejko commented on #63
I also had this issue and realized another solution is to only import the plug-in file that's needed - in my case, that was the wicket-leaflet.js. This plugin file requires the wicket.js file so importing both was not necessary.

[2020-04-16 18:16] Portur opened #144 "wkt.read is sensitive to spaces"
**This works**
`wicket.read('{"coordinates": [[[30, 10], [10, 20], [20, 40], [40, 40], [30, 10]]], "type": "Polygon"}');`

**This does not work**
`wicket.read('{"coordinates" : [[[30, 10], [10, 20], [20, 40], [40, 40], [30, 10]]], "type" : "Polygon"}');`

The difference being a space after coordinates in the second example.

**Here is a quick fix**
`wicket.read(JSON.stringify(JSON.parse('{"coordin

[2020-04-16 18:19] arthur-e commented on #144
@Portur thanks for this report! I look forward to a pull request with a test and fix.

[2020-04-17 12:51] Portur opened #145 "Reading Polygon from flat array returns Point without throwing error"
A polygon is provided as an array of points, which is in geojson format.
`wicket.wrtie()` incorrectly returns a `POINT( ... ) ` rather than a `POLYGON ( ... ) `

[code]

This is because the above statement turns `coords` into a string.
So from `"coordinates" : [ [ [x,y], [x,y], ... ] ]`
into `"coordinates" : "x,y,x,y,x,y,..."`.
This is an invalid format and should rather be `"coordinates": "[[[x,y

[2020-05-06 12:20] garbarczykfilip opened #146 "Bug with write method (converting object to WKT)"
Steps to reproduce this issue:
1. Create WKT string for polygon with more than 1 hole in it.
2. Read WKT string and use toObject method, to create polygon object.
3. Use fromObject method with previously created polygon object.
4. Write WKT string from previously loaded object.

In result WKT string there should be polygon coordinates, coordinates of first hole and other holes will be "undefined".

[2020-05-06 12:24] arthur-e commented on #146
Hello! Thanks for this report. Which mapping library are you using, e.g., Google Maps?

[2020-05-06 12:36] garbarczykfilip commented on #146
Hello!

Yes, I am using Google Maps, but I think it is not caused by google maps.
Even in debugger I saw the string and it has "undefined" there.

I do not have now that old input wkt string. You should make string for
polygon with maybe 3 holes in it and it will reproduce issue. In
badWktString variable there should be "undefined" for more holes after
first hole.

let wktString = "WKT_STRING";
le

[2020-06-16 01:26] ryuchaehwa opened #147 "vuejs with leaflet(1.6.0) error says wkt.fromObject is not a function"
Hello, I have a problem that wkt.fromObject() methods which doesn't work in vuejs web. I've checked other issues below(google api issue) but i'm using leaflet and I'm not sure how to fix it. Please check below and advise me.

package.json
[code]

code
[code]

p.s I'm converting vanilla leaflet.js to vuejs framework at the moment. This code works in our original vanilla js project with leaflet 1.0.

[2020-07-28 14:04] arthur-e opened #149 "Address deprecations of node.js dependencies"
When last building in Travis CI, I noticed there are some deprecation warnings after `npm install`:

[code]

[2020-08-19 00:52] pjs21s opened #150 "Cannot read property 'polygon' of undefined"
Hello I'm using Wicket like this (vue : 2.6.11, leaflet : 1.6.0, wicket : 1.3.6)

[code]

When i click my `makePolygon` event then i can see these error
[code]

I wrote wrong code or is this bug?
Even i deleted npm module and only used wicket with cdn but i saw same errors
Thank you for reading

[2020-08-19 15:08] arthur-e commented on #150
Hi @pjs21s,  it definitely looks like the wrong code in the example you provided. Your closing curly brace `}` is outside of the closing `</script>` tag when it should be inside.

[2020-08-19 15:08] #150 closed

[2020-08-20 05:37] pjs21s commented on #150
ah that is my mistake. Even i write </script> tag right way. There is same error

[2020-08-20 05:39] pjs21s commented on #150
@arthur-e  that was my mistake. Even i write </script> tag right way. There is same error.

[2021-01-04 13:59] #101 closed

[2021-01-21 19:59] ireneyiu opened #151 "Wicket with non-legacy versions of Leaflet (version 1.0 onwards) renders holes for overlapping polygons"
## Summary

Using Wicket with Leaflet versions 1.0 and onwards does not properly render islands or rings in a WKT multi-polygon (example WKT [here](http://polygons.openstreetmap.fr/index.py?id=112986)). When there is overlap, the area is rendered as a hole.

This is not reproducible in the Wicket leaflet [sandbox](https://arthur-e.github.io/Wicket/) since it uses the legacy version of Leaflet (0.7

[2021-01-21 23:47] arthur-e commented on #151
Thanks @ireneyiu! Wicket probably doesn't recognize the `fillRule` attribute because it is lagging behind more recent developments in Leaflet. Hopefully someone has a Pull Request in mind for this.

[2021-02-03 13:41] DLS-2019 opened #152 "ESRI ArcGIS JavaScript API demo fails"
The ESRI ArcGIS JavaScript API demo (https://arthur-e.github.io/Wicket/sandbox-arcgis.html) is failing

![image](https://user-images.githubusercontent.com/47884705/106754153-4ad98000-6635-11eb-9324-cd4b46ae1c53.png)

[2021-02-04 08:15] DLS-2019 commented on #152
I tried to use wicket in an Angular app:

const wkt = new Wkt.Wkt();
wkt.read("POLYGON ((30 10, 10 20, 20 40, 40 40, 30 10))");
console.log(wkt.components);       //it works up to here

// but then fails on
 wkt.toObject();

![image](https://user-images.githubusercontent.com/47884705/106863632-790c9d80-66d1-11eb-9ed4-c970c3487ac2.png)

I noticed that the arcgis.html demo code uses  wkt.toObject(**

[2021-02-04 12:52] arthur-e commented on #152
Thanks, @DLS-2019. I don't think the ArcGIS module in Wicket has been updated in a few years now, and the ArcGIS Javascript extension has likely made some breaking changes since then. See related issue #90.

[2021-02-05 06:56] DLS-2019 commented on #152
Thank you for the feedback @arthur-e  - I switched to using the TerraFormer plugin

[2021-02-05 06:56] #152 closed

[2021-02-10 10:55] Expelz commented on #86
I can confirm that it's worked fine, but firstly you should explicit set this value `{WktInstance}.IsRectangle = true;` before invoking `toObject()` method on `Wkt` instance.
Then it will return `google.maps.Rectangle` object.

Here is sorurce code for this property (default is `false`): https://github.com/arthur-e/Wicket/blob/9292bf47530065233d22c2247ab2a2a3e1c7bffa/wicket-gmap3.js#L35-L40

[2021-03-04 19:20] tcjcodes commented on #63
In my React / next project trying to use `.fromObject()` I got the same error about `deconstruct` being undefined.
I just added this to the top of the file:

`import 'wicket/wicket-gmap3';`

[2021-03-26 19:07] theca-cto commented on #135
Still seems not to work for multipolygons. The following very quick hack-round seems to have dealt with it temporarily, for the purposes of creating a WKT string, and may (perhaps?) provide some hints as to what's up:

`/* There's lots of fun to be had with multipolygons because wicket doesn't import them properly
      See: https://github.com/arthur-e/Wicket/issues/135
      Testing for polgon vs

[2021-03-31 17:32] ggfuzzy opened #153 "Write outputs polygon elements in counter-clockwise order"
Attempted to use output of wkt write() to feed Oracle OSD, but kept getting Oracle error stating `Error: ORA-20002: WKT provided is invalid: 13367 [Element <1>] [Ring <1>]`. After troubleshooting, realized that Oracle OSD only functions properly if wkt elements are in clockwise order. I'm wondering if the write() method couldn't be modified to allow either clockwise or counterclockwise output. I l

[2021-03-31 17:57] arthur-e commented on #153
@ggfuzzy, I'm definitely open to a Pull Request for this issue!

[2021-04-03 20:43] ggfuzzy commented on #153
Thanks Arthur!

On Wed, Mar 31, 2021 at 1:57 PM K. Arthur Endsley ***@***.***>
wrote:

[2021-05-18 13:44] #79 closed

[2021-05-27 15:47] GarrettU27 opened #154 "Online Demos Not Working"
Selecting any of the demos (leaflet, google maps, or arcgis) results in a 404 error from Github pages.

[2021-05-27 21:35] arthur-e commented on #154
Thanks for reporting this. Apparently the github.com links for Github Pages have been deprecated. The new links should be working now.

[2021-05-27 21:35] #154 closed

[2021-09-03 12:52] arthur-e commented on #90
The new demos, depending on ArcGIS version, are `doc/arcgis3.html` and `doc/arcgis4.html`.

[2021-09-03 14:25] arthur-e commented on #90
Unfortunately, these demos are fixed for the `master` branch (i.e., serving from `doc/` locally) but are not fixed yet on `gh-pages`.

[2021-09-09 12:35] Anexo opened #156 "On version 1.3.7: Wkt was removed and its causing backwards compatibility issues"
On version 1.3.7, in wicket.js line 39, Wkt was removed and its causing problems with my current development, that was working correctly on version 1.3.6.

How do I do my code compatible with this new version? Or is this a bug?

[2021-09-09 13:45] arthur-e commented on #156
Hi @Anexo, version 1.3.7 passed all the tests, so I'm sorry to hear you're having an issue. My understanding is that the change to `wicket.js` made by @cancastilho moves `Wkt` to global scope. It could be that our tests are not comprehensive. Could you provide some more details, including a specific error message?

In the meantime, you can revert to version 1.3.6. If you need advice on how to inst

[2021-09-10 07:45] Anexo commented on #156
Yes, I installed version 1.3.6 and its working. I am using angular by the way. Here is the error on version 1.3.7:

[code]

[2021-09-10 12:09] cancastilho commented on #156
@Anexo Could you provide a sample code to reproduce this error?

@arthur-e I can send another pull request with Wkt not global that works with arcgis, but probably it is better to have a sample code to reproduce the error first.

[2021-09-10 12:24] Anexo commented on #156
Yes of course, here is an extract of my working code, using 1.3.6. It is a *.ts file

[code]

[2021-09-11 13:55] cancastilho commented on #156
I could not reproduce the problem. [Here](https://github.com/cancastilho/Wicket/tree/master/tests/typescript) is a working test with typescript and webpack.

@Anexo could you provide a self-contained code sample so we can run and reproduce the problem?

[2021-09-13 14:55] arthur-e commented on #156
@Anexo Version 1.3.8 was just published with @cancastilho's changes.

[2021-09-13 14:55] #156 closed

[2021-09-16 12:36] Anexo commented on #156
Thank you so much. Version 1.3.8. is working perfectly

[2022-03-01 03:16] AkshayGore opened #159 "How to pass sql table geometrycollection MultiPolygon collection."
I am working on Leaflet-WKT.js as provided on Github
https://github.com/arthur-e/Wicket/blob/master/wicket-leaflet.js

I am trying to pass geometrycollection WKT MultiPolygon collection.
Could anyone please help me to resolve this issue?
Attachment
https://drive.google.com/file/d/1wke9XbsTYYb7OQEW8Y4blJvIGbW5LgkG/view?usp=drivesdk

Console log
The geometrycollection WKT type is not yet supported.

[2022-08-10 11:16] donCarlosOne opened #160 "Converting POLYGON to wkt generates NaN Value"
I've encountered this issue with a valid polygon:

let P='POLYGON (((36.293255632406975 32.40606101801413, 36.33009707717658 33.394854860641324, 35.15060719001822 33.42092621647627, 35.12678389048804 32.43116921770877, 36.293255632406975 32.40606101801413)))';

wkt.read(P).toJson().coordinates
(1) [Array(5)]
0:
(5) [Array(2), Array(2), Array(2), Array(2), Array(2)]
0:
(2) [NaN, 32.40606101801413]

[2022-08-30 10:55] bsaid97 opened #161 "MultiPolygon not nested correctly"
Hi Arthur, thank you for this awesome library.

I'm trying to convert a Google Maps MultiPolygon back to GeoJSON using Wicket but noticed that the conversion isn't nesting the first index of the shape correctly.

![image](https://user-images.githubusercontent.com/7491699/187418529-50549e19-d01a-4f76-af7d-a9bddcb1e318.png)

It seems that the shape at index 0 needs to be nested into another array to

[2022-08-30 13:51] arthur-e commented on #161
Hi @bsaid97, could you provide some more information on the geometry? Was this hand-drawn in Google Maps or loaded into Google Maps some way other than Wicket? What code did you use to generate the GeoJSON? Could you share a gist of the "correct" WKT or GeoJSON or a screenshot of what it should look like, correctly plotted?

I don't do Javascript development anymore but hopefully these details wil

[2022-08-30 14:47] bsaid97 commented on #161
They aren't hand drawn, I'm loading up various polygons through an API which I then draw on the map. I then try to get the GeoJSON object using Wicket from the google maps polygon object.

[Here's a correct gist](https://gist.github.com/bsaid97/fe2d67460e5343e5909f03fdc1582b71), you should be able to see that the first polygon in the MultiPolygon is just nested one level deeper.

[2022-11-14 09:57] stevenpbachman opened #162 "option to switch the basemap to satellite layer"
This would make it much easier to trace some vegetation/geographic features compared to the terrain map. Thanks - great app.